# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [13]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [14]:
url_address = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv'
drinks = pd.read_csv(url_address)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

### Step 4. Which continent drinks more beer on average?

In [15]:
#groupby continent and beer servings with mean
drinks = drinks.groupby('continent').agg({ 'beer_servings': 'mean'})
#agg() is used to pass a function or list of function to be applied on a series or even each element of series separately. 
#In case of list of function, multiple results are returned by agg() method
#sorted
drinks #.sort_values('beer_servings')

#ANOTHER WAY TO DO IT 
#drinks.groupby('continent').beer_servings.mean()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

### Step 5. For each continent print the statistics for wine consumption.

In [17]:
#Groupby continent and wine servings along with describe, to show all details
#drinks.groupby('continent').wine_servings.describe()
drinks = drinks.groupby('continent').agg({ 'wine_servings': 'describe'})

KeyError: "Column(s) ['wine_servings'] do not exist"

### Step 6. Print the mean alcohol consumption per continent for every column

In [18]:
#Groupby continent and get the mean 
drinks.groupby('continent').mean()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

### Step 7. Print the median alcohol consumption per continent for every column

In [19]:
drinks.groupby('continent').median()

           beer_servings
continent
AF             61.471698
AS             37.045455
EU            193.777778
OC             89.687500
SA            175.083333

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [21]:
#Gives all needed info for spirit_servings 
#drinks.spirit_servings.describe()
drinks.groupby('continent').spirit_servings.agg(['mean', 'min', 'max'])

AttributeError: 'DataFrameGroupBy' object has no attribute 'spirit_servings'