In [2]:
#Variable Setting
x = 4

In [3]:
print(x)

4

In [5]:
y = 5

In [6]:
print(x+y)

9

In [ ]:
#This is a comment
#Comments are unexecutable lines of code

In [ ]:
#This is a multi-line comment 
"""
"""

In [7]:
#Use a marker if whats within is long
x = 1 + 2 + 3 + 4 +\
    5 + 6 + 7 + 8

In [8]:
print (x)

36

In [9]:
#Name your variables something that makes sense 
#Snake casing - each word starts with a lowe case letter and separated by a _
name_variable = "Does not matter"

In [10]:
print(name_variable)

Does not matter

In [12]:
#This is camel casing 
thisIsCamelCasing = "Does not matter"

In [13]:
print(thisIsCamelCasing)

Does not matter

In [21]:
#What is a list- is a data structure that can hold different items
#It's indexable
#Sliceable
#Mutable 
#This is a list data structure

x = [1,2,3]

In [28]:
#Slicing 
#Index notation, list, brackets, using indexing 
#First number is inclusive 
#Second number is exclusive 
#Up to but not including position 3
print (x[1:3])

#Negative indexing

#print (x[-1])
print (x[-2:])

[2, 3]
[2, 3]

In [22]:
#index notation
print(x[2])

3

In [23]:
#For loop
#For loops are used to iterate data structures
#For each item in x (which is list) print each item

for i in x: 
    print (i)

1
2
3

In [52]:
#x = 5
#x = 3
x = 22
    
#if (conditional statement:) is true
if x < 4: 
    y = x * 2
#elif x > 4:
elif x == 4:
     y = x / 2
else:
    print ("Nevermind")
    #print(y)#prints nothing because x is greater than 4 (false)
    print(y)

Nevermind
2.0

In [47]:
x = 4 
print(print(x == 4))

True
None

In [31]:
x = 4 
print(print(x != 4))

False
None

In [55]:
#Exponents 

x = 2**2
print(x)

4

In [56]:
#Sort 
L = [4,3,2,1]
L.sort() #sorts numbers in order, starting with the less than(lowest number)
         #runs a function  
print(L)

[1, 2, 3, 4]

In [57]:
#String concatentaion- concatenating 2 or more strings
print ('second value:', 2)

second value: 2

In [58]:
print ('second value:'+ " 2" )

second value: 2

In [59]:
print ('second value:' + " 2" " <-")

second value: 2 <-

In [61]:
x = [1,2,3]
y = x

In [62]:
print(y)

[1, 2, 3]

In [69]:
x = "Water"
x = "Water 2"

In [74]:
print(x[0])

W

In [75]:
print(x[-1])

2

In [70]:
#Strings are imutable, can not be altered
#x[2] = "W"

TypeError: 'str' object does not support item assignment

In [72]:
#List data structures are mutable
#List are indexable
L = [0,1,2,3,4] 
L[1] = "Water"

In [73]:
print(L)

[0, 'Water', 2, 3, 4]

In [79]:
x = input ("Enter a number between 1 and 5: ")

Enter a number between 1 and 5: 3

In [80]:
print(x)

3

In [81]:
#This is false, because the input function always returns a string
print(x == 5)

False

In [82]:
print (type(x))

<class 'str'>

In [83]:
print(5 == 5)

True